{% block sidebar %}
    <nav id="sidebar">
        <div id="header-wrapper">
            <div id="header">
                <a id="logo" href="{{ theme_config.home_url ?: base_url_absolute }}">{% include 'partials/logo.html.twig' %}</a>
                {% include 'partials/search.html.twig' %}
            </div>
        </div>
        {% include 'partials/sidebar.html.twig' %}
    </nav>
    {% endblock %}

    {% block body %}
    <section id="body">
        <div id="overlay"></div>

        <div class="padding highlightable">
            <a href="#" id="sidebar-toggle" data-sidebar-toggle><i class="fa fa-2x fa-bars"></i></a>

            {% block topbar %}
            <div id="top-bar">
                <div id="top-github-link">
                	{% include 'partials/github_link.html.twig' %}
                </div>

            </div>
           {% endblock %}

		

		{% block content %}
			{% include 'partials/page.html.twig' %}
		{% endblock %}

        </div>
    </section>
    {% endblock %}
