<div class="slider">
    <div class="camera_wrap">
        {% for item in page.media.images %}
             <div data-src="{{ item.url }}"></div>
        {% endfor %}
        {{ content }}
    </div>
</div>

