
:root{
    
    --MAIN-TEXT-color: #333333; /* Color of text by default */
    --MAIN-BG-color: #b3b3b3; /* Color of main pages */
    --MAIN-TITLES-TEXT-color: #5e5e5e; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#1C90F3; /* Color of links */
    --MAIN-LINK-HOVER-color: #1a59c3; /* Color of hovered links */
    --MAIN-ANCHOR-color: #1C90F3; /* color of anchors on titles */

    --MENU-HEADER-BG-color:#333333; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#1a59c3; /*Color of menu header border */ 

    --MENU-SEARCH-BG-color:#1a59c3; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #b3b3b3; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #b3b3b3; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#333333; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#333333; /* Background color of other sections */
    --MENU-SECTIONS-FG-color:#b3b3b3; /* Foreground color of other sections */
    --MENU-SECTIONS-LINK-color: #b3b3b3; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #1a59c3;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #1a59c3; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #b3b3b3; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */
    
}

body {
	color: var(--MAIN-TEXT-color) !important;
	background-color: var(--MAIN-BG-color);
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
   color: var(--MENU-SECTIONS-FG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

/*--------------social----------------*/
.social_icons {
	overflow: hidden;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	position: relative;
	z-index: 10;
}
.social_icons > li {
	text-align: center;
	float: left;
	cursor: pointer;
	font-size: 2em;
	overflow: hidden;
	margin-right: 10px;
}

.align-row{
	display: -webkit-flex;
	-webkit-align-items: right;
	display: flex;
	align-items: right;
}

#footer {
	text-align: left;
}

.bannerimg {
	border-radius: 10px;
	background-color: var(--MENU-SECTIONS-BG-color);
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: arrow;
}

.blogpost {
	position: relative;
	text-align: left;
	color: var(--MENU-SECTIONS-FG-color);
	background-color: var(--MENU-SECTIONS-BG-color);
	border-color: var(--MAIN-LINK-color);
}
