<h4>Media Platforms</h4>
<ul class="social_icons">
    {{if .Site.Params.github}} <li><a href="{{ .Site.Params.github }}" alt="" target="_blank"><i class="fa fa-github"></i></a></li> {{end}}
    {{if .Site.Params.telegram}}<li><a href="{{ .Site.Params.telegram }}" alt="" target="_blank"><i class="fa fa-telegram"></i></a></li>{{end}}
    {{if .Site.Params.twitch}}<li><a href="{{ .Site.Params.twitch }}" alt="" target="_blank"><i class="fa fa-twitch"></i></a></li>{{end}}
    {{if .Site.Params.twitter}}<li><a href="{{ .Site.Params.twitter }}" alt="" target="_blank"><i class="fa fa-twitter"></i></a></li>{{end}}
    {{if .Site.Params.youtube}}<li><a href="{{ .Site.Params.youtube }}" alt="" target="_blank"><i class="fa fa-youtube"></i></a></li>{{end}}
    <li><a href="/index.xml" alt="" target="_blank"><i class="fa fa-rss"></i></a></li>

</ul>

<h4>Become a Sponsor!</h4>
<a href="/sponsors" class="btn btn-default">
  <i class="fa fa-paypal"> Donate Today!</i>
</a>
<br>
<br>
<a href='https://www.keycdn.com' target="_blank"><i>Distribution powered by KeyCDN</i></a>
