<h4>Communities</h4>
<ul class="social_icons">
    {{if .Site.Params.github}} <li><a href="{{ .Site.Params.github }}" title="Source repositories" alt="" target="_blank"><i class="fa fa-github"></i> Source Repos</a></li> {{end}}
    {{if .Site.Params.telegram}}<li><a href="{{ .Site.Params.telegram }}" title="Telegram community" alt="" target="_blank"><i class="fa fa-telegram"></i> Telegram</a></li>{{end}}
    {{if .Site.Params.wiki}}<li><a href="{{ .Site.Params.wiki }}" alt="" title="Documentation wiki" target="_blank"><i class="fa fa-book"></i> Documentation</a></li>{{end}}
    {{if .Site.Params.twitch}}<li><a href="{{ .Site.Params.twitch }}" alt="" title="Twitch" target="_blank"><i class="fa fa-twitch"></i> Twitch</a></li>{{end}}
    {{if .Site.Params.twitter}}<li><a href="{{ .Site.Params.twitter }}" alt="" title="Twitter" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>{{end}}
    {{if .Site.Params.youtube}}<li><a href="{{ .Site.Params.youtube }}" alt="" title="Youtube" target="_blank"><i class="fa fa-youtube"></i> Youtube</a></li>{{end}}
    <li><a href="/index.xml" alt="" title="RSS feed link" target="_blank"><i class="fa fa-rss"></i> RSS Feed</a></li>

</ul>

<h4>Get Involved!</h4>
<a href="/sponsors" class="button">
  <i class="fa fa-gift"> Contribute Today!</i>
</a>
